.navbar {
  background-color: rgb(7, 75, 177);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ff9900;
}

.logout {
  background-color: #fff;
  color: rgb(7, 75, 177)
  margin: 0 5px 5px 0;
  display: flex;
}
